:root {
    --masuhanairo: #627c85;
    --wakatakeiro: #68be8d;
    --kamenozoki: #a2d7dd;
    --mushiao: #3a5b52;
    --hisuiiro: #38b48b;
}

.h-and-s-menu-bg {
    background-color: var(--wakatakeiro) !important;
  }

.h-and-s-bg {
    background-color: var(--masuhanairo) !important;
}

.h-and-s-text {
    color: var(--mushiao);
}

ul {
    list-style-type: none;
}