---
layout: sitetemplate.html
title: Blog
---
<div class="container">
  <ol reversed>
    {% for post in collections.post %}
      <li>
        <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      </li>
    {% endfor %}
    </ol>
</div>
