---
layout: sitetemplate.html
title: Hammers and Sharks
---
<div class="jumbotron text-center h-and-s-bg">
  <h1>Welcome to Hammers and Sharks</h1>
    <p>This is Brian Burton's personal site that doesn't really do anything yet, but you're welcome here.</p>
</div>
<div class="container">
  <p>
    So far, you can find out a bit <a href="/aboutme">about me</a> and spend all of the next minute or so exploring <a href="/blog">my fledgling blog</a>, which is the real reason I've started a website.
  </p>
</div>